{% block navbar %}
<div class="custom-nav">
    <div class="container">
        <div class="nav-link expand">
            <a href="" class="text-left"><i class="fal fa-bars"></i> SohanScape</a>
        </div>

        <div class="nav-link">
            <a href="https://sohanscape.com">Home</a>
        </div>
        <div class="nav-link">
            <a href="{{ constant("FORUM_URL") }}">Forums</a>
        </div>
        <div class="nav-link">
            <a href="https://sohanscape.com/community/index.php?/store/">Store</a>
        </div>

        <div class="nav-logo">
            <img src="https://sohanscape.com/images/logo.png" style="height:90px;margin:auto;">
        </div>

        <div class="nav-link">
            <a href="https://sohanscape.com/vote/">Vote</a>
        </div>
        <div class="nav-link">
            <a href="https://sohanscape.com/hiscores/">Highscores</a>
        </div>
        <div class="nav-link">
            <a href="https://sohanscape.com/flips/">Card Flips</a>
        </div>
    </div>
</div>
{% endblock %}