{% block slider %}

<div class="slider text-center mb-4">
    <div class="slide slide-active">
        <h1>Lorem Ipsum Dolor Sit Um 1.</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris.
        </p>
    </div>

    <div class="slide">
        <h1>Lorem Ipsum Dolor Sit Um 2.</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris.
        </p>
    </div>

    <div class="slide">
        <h1>Lorem Ipsum Dolor Sit Um 3.</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris.
        </p>
    </div>

    <div class="slider-controls">
        <div class="slider-prev"></div>
        <div class="slider-next"></div>
    </div>
</div>
{% endblock %}